@font-face {
  font-family: 'Neon';
  src: url("fonts/TextMeOne-Regular.ttf") format("truetype");
}

:root {
  --neon-border-color: #08f;
}

* { box-sizing: border-box; }

body {
  background-color: #000;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: #fff;
}

nav, footer, main {
  width: auto;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  min-height: 178px;
  top: 0;
}

footer {
  min-height: 90px;
  bottom: 0;
}

main {
  height: auto;
}

.navbar {
  list-style-type: none;
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar > li {
  padding-left: 37px;
}

#lang-switch {
  font-weight: 300;
}

/* Neon effect
adapted from - https://codepen.io/Trinca/pen/NAvpWa */

#logo {
  font-size: 70px;
  padding: 0;
  color: #3434D8;
  font-family: "Sacramento", cursive;
  animation: neon 12s linear infinite;
    -moz-animation: neon 12s linear infinite;
    -webkit-animation: neon 12s linear infinite;
    -o-animation: neon 12s linear infinite;
}

@keyframes neon {
  0%,
  25%,
  27%,
  45%,
  47%,
  100% {
    text-shadow: 0 0 4px #1041FF, 0 0 8px #1041FF, 0 0 12px #1041FF, 0 0 12px #1041FF, 0 0 10px #8BFDFE;
    color: #B3D2FF;
  }
  26%,
  46% {
    text-shadow: 0 0 8px #082180, 0 0 8px #082180, 0 0 8px #082180, 0 0 8px #082180, 0 0 6px #082180;
    color: #115B96;
  }
}

@keyframes neon-outline {
  0%,
  25%,
  27%,
  45%,
  47%,
  100% {
    box-shadow:
            0 0 2px #fff,
            inset 0 0 2px #fff,
            0 0 5px var(--neon-border-color),
            inset 0 0 5px var(--neon-border-color),
            0 0 7px var(--neon-border-color),
            inset 0 0 7px var(--neon-border-color);
    }
  }
  26%,
  46% {
    box-shadow: none;
  }
}



/* ---- isotope ---- */

.grid {

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
  filter: saturate(50%);
  transition: all 0.3s ease-in-out;
}

.neon-sign {
  filter: none;
}

.neon-sign-abt {
  filter: none;
  margin: auto;
  width: 100%;
}

.grid-item:hover {
  filter: url(#blueFilter);
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.text-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.tb-abt {
  width: 100%;
}

.tb-modal {
  background-color: #000;
  height: 540px;
}

.box-text {
  margin: 0;
  font-family: "Neon", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.8em;
  padding: 1em;
  text-align: left;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 5px;
  animation: neon 8s linear infinite, neon-outline 8s linear infinite;
    -moz-animation: neon 8s linear infinite, neon-outline 8s linear infinite;
    -webkit-animation: neon 8s linear infinite, neon-outline 8s linear infinite;
    -o-animation: neon 8s linear infinite, neon-outline 8s linear infinite;
}

.box-text-abt {
  margin: 0;
  font-family: "Neon", Arial, sans-serif;
  font-weight: 300;
  font-size: 3em;
  padding: 2em;
  text-align: center;
  width: 100%;
  /* line-height: 200px; */
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 5px;
  animation: neon 8s linear infinite, neon-outline 8s linear infinite;
    -moz-animation: neon 8s linear infinite, neon-outline 8s linear infinite;
    -webkit-animation: neon 8s linear infinite, neon-outline 8s linear infinite;
    -o-animation: neon 8s linear infinite, neon-outline 8s linear infinite;
}

.dd {
  padding-top: 2.6em;
  padding-bottom: 2.6em;
}

/* -------  modal -------- */

.modal {
  display: none;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: fixed;
  top: 178px;
  bottom: 0;
  left: 5%;
  z-index: 2;
  max-width: 100%;
  overflow-y:scroll;
  overflow-x:hidden;
  box-sizing: border-box;
  background: #fff;
  padding: 105px 67px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
}

figure {
  margin: 0;
  margin-bottom: 1em;
}

figcaption {
  margin-top: 0;
  padding-top: 0;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 1em;
}

.modal-imgs {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 5em;
}

.modal-img > img {
  width: 100%;
}

.cmt-txt {
  font-weight: 600;
}

.modal-story {
  max-width: 500px;
}

.modal-form {
  /* border: 1px solid red; */
}

.mf {
  display: block;
  border: none;
  border-radius: 0.5em;
  padding: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 1px 2px 3px 1px #dbdbdb;
}

.mf-c {
  width: 100%;
  background-color: #fff;
}

.mf-ce {
  height: 10em;
}

.mf-b {
  width: 50%;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  font-weight: 600;
}

::placeholder{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #cbcbcb;
}

.modal-text {
  margin-bottom: 2em;
}

.mt-h2 {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 0;
}

.mt-p {
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}

.page-title {
  color: #fff;
  text-transform: uppercase;
}

.abt-m {
  background: #000;
}

.sub-sections {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  margin-top: 5em;
}

.close {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  float: right;
  text-align: right;
}

.demo-container {
  width: 100%;
}

#tmln-pdf {
  width: 82vw;
}

video {
  width: 82vw;
  margin: 0;
}

.vid-imgs {
  display: flex;
}

.vid-img > img {
  max-width: 490px;
}
